@font-face {
    font-family: "Century";
    src: url("/static/subathonTimer/fonts/century.ttf") format("truetype");
}

body {
    font-family: Arial, sans-serif;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2c0022;
    background-color: #ccbadb;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 3vw;
    font-family: "Century";

    height: 21vh;
    width: 21vw;
    padding: 2vw;
}

.bingo-cell-checked {
    background-color: #2c0022;
    color: #ccbadb;
}

.bingo-cell-waiting {
    background-color: #ffeb3b;
}
