.bingo-show {
    position: fixed;
    bottom: -100%;
    /* Start off-screen */
    left: 0;
    right: 0;
    transition: bottom 1.5s ease-out;
}

.bingo-show.visible {
    bottom: 100%;
    /* Move into view */
}
