{% load static %}
<!doctype html>
<html>

<head>
    <title>Calendar ADMIN</title>
    <link rel="icon" href="{% static 'bingo/images/cacatchu.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'giveaway/css/admin.css' %}" />
    <meta charset="utf-8" />
</head>

<body>

    <div>
        <h1>Active Calendar</h1>
        <div class="active-calendar">
            <h2>{{ active_bingo.name }}</h2>
            <p>{{ active_bingo.description }}</p>

        </div>
        <div>
            <h1>List Calendars</h1>

            <div class="item">
                <p class="bold">Name</p>
                <p class="bold">Size</p>
                <p class="bold">Cells</p>
                <p class="bold">Activate</p>
                <p class="bold">Delete</p>
            </div>

            {% for calendar in calendars %}
            <a href="{% url 'admin_arg' bingo.id %}" class="div-clickable">
                <div class="item {% if forloop.counter|divisibleby:2 %}alternate{% endif %}">
                    <p class="bold">{{ bingo.name }}</p>
                    <p>{{ bingo.description }}</p>
                    <button type="button">Items</button>
                    <form action="{% url 'activate_bingo' bingo.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Activate</button>
                    </form>
                    <form action="{% url 'reset_bingo' bingo.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Reset</button>
                    </form>
                </div>
            </a>
            {% endfor %}
        </div>
</body>

</html>
