{% load static %}
<!doctype html>
<html>

<head>
    <title>Create Calendar</title>
    <link rel="icon" href="{% static 'bingo/images/cacatchu.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'giveaway/css/base_admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'giveaway/css/create.css' %}" />
    <meta charset="utf-8" />
</head>

<body>
    <a class="btn back-button" href="{% url 'calendar_admin' %}">Back</a>
    <div class="container">
        <h1>Create Reward</h1>
        <div class="input-container">
            <div class="input-group">
                <label for="reward-name">Reward Name :</label>
                <input type="text" id="reward-name" name="reward-name" required />
            </div>
            <div class="input-group">
                <label for="reward-image">Reward Image :</label>
                <input type="file" id="reward-image" name="reward-image" accept="image/*" />
            </div>
            <button id="create-reward" class="button">Create Reward</button>
        </div>
</body>

</html>
<script type="module" src="{% static 'giveaway/js/create_reward.js' %}"></script>
