{% extends 'giveaway/base_admin.html' %}
{% load static %}
{% block title %}Create Reward{% endblock %}
{% block extra_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'giveaway/css/create.css' %}" />
{% endblock %}
{% block extra_js %}
    <script type="module" src="{% static 'giveaway/js/create_reward.js' %}" defer></script>
{% endblock %}
{% block content %}
    <a class="btn back-button" href="{% url 'calendar_admin' %}">Back</a>
    <div class="container">
        <h1>Create Reward</h1>
        <div class="input-container">
            <div class="input-group">
                <label for="reward-name">Reward Name :</label>
                <input type="text" id="reward-name" name="reward-name" required />
            </div>
            <div class="input-group">
                <label for="reward-image">Reward Image :</label>
                <input type="file" id="reward-image" name="reward-image" accept="image/*" />
            </div>
            <button id="create-reward" class="button">Create Reward</button>
        </div>
    </div>
{% endblock %}
