{% extends 'giveaway/base_admin.html' %}
{% load static %}
{% block title %}Calendar Edit{% endblock %}
{% block extra_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'giveaway/css/update.css' %}" />
{% endblock %}
{% block extra_js %}
    <script type="module"
            src="{% static 'giveaway/js/update_calendar.js' %}"
            defer></script>
{% endblock %}
{% block content %}
    <a class="btn back-button" href="{% url 'giveaway:calendar_admin' %}">Back</a>
    <div class="btn-row">
        <button class="btn"
                type="submit"
                hx-post="{% url 'giveaway:close_all_cells' calendar.id %}"
                hx-target="#cells-container">Close all</button>
        <button class="btn"
                type="submit"
                hx-post="{% url 'giveaway:shuffle_rewards' calendar.id %}"
                hx-target="#cells-container">Shuffle</button>
    </div>
    <div class="container">
        <h1>{{ calendar.title }}</h1>
        <div class="item cells-container" id="cells-container">{% include 'giveaway/partials/cells-container.html' %}</div>
    </div>
    {{ calendar.id|json_script:"calendar-id-data" }}
{% endblock %}
