{% load static %}
<!doctype html>
<html>

<head>
    <title>Calendar Edit</title>
    <link rel="icon" href="{% static 'bingo/images/cacatchu.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'giveaway/css/base_admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'giveaway/css/update.css' %}" />
    <meta charset="utf-8" />
</head>

<body>
    <a class="btn back-button" href="{% url 'admin' %}">Back</a>
    <div class="btn-row">
        <a class="btn " id="close-button">Close all</a>
        <a class="btn " id="shuffle-button">Shuffle</a>
    </div>
    <div class="container">
        <h1>{{ calendar.title }}</h1>
        <div class="item cells-container">
            {% for cell in calendar.cells %}
            <div class="cell">
                <p>{{ cell.cell.number }}</p>
                <div class="reward">
                    {% if cell.reward %}
                        {% if cell.reward.image_url %}  
                            <img class="reward-image" src="{{ cell.reward.image_url }}" alt="Reward Image" />
                        {% else %}
                            <p>{{ cell.reward.name }}</p>
                        {% endif %}
                    {% else %}
                    <p class="bold">No Reward</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>

{{ calendar.id|json_script:"calendar-id-data" }}
<script type="module" src="{% static 'giveaway/js/update_calendar.js' %}"></script>
