body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#wheelContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
}
#spinButton {
  position: absolute;
  top: 5%;
  left: 85%;
}
#wheelImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: 15%;
}
