{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel='icon' href="{% static 'bingo/images/cacatchu.png' %}" />
        <title>Likend goal</title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'subathonTimer/css/linkedGoals.css' %}" />
    </head>
    <body>
        <div class="background-overlay">
            <div class="header">
                <div class="header-image">
                    <svg id="Calque_1"
                         data-name="Calque 1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 600 100">
                        <defs> <style> .cls-1 { fill: url(#Dégradé_sans_nom_7); } .cls-2 { fill: none; } .cls-3 { clip-path: url(#clippath-1); } .cls-4 { fill: #560031; } .cls-5 { clip-path: url(#clippath); } </style> <clipPath id="clippath"> <rect class="cls-2" x="21.5" y="18.38" width="557" height="69" rx="26" ry="26" /> </clipPath> <linearGradient id="Dégradé_sans_nom_7" data-name="Dégradé sans nom 7" x1="1.04" y1="101.09" x2="2.04" y2="101.09" gradientTransform="translate(-556 56358) scale(557 -557)" gradientUnits="userSpaceOnUse"> <stop offset="0" stop-color="#2e0025" /> <stop offset="1" stop-color="#570031" /> </linearGradient> <clipPath id="clippath-1"> <rect class="cls-2" x="21.5" y="12.62" width="557" height="74.75" /> </clipPath> </defs>
                        <g class="cls-5">
                        <rect class="cls-1" x="21.5" y="18.38" width="557" height="69" />
                        </g>
                        <g class="cls-3">
                        <path class="cls-4" d="M60.71,40.62c-6.77,0-12.25,5.49-12.25,12.25s5.48,12.25,12.25,12.25h40.76c6.77,0,12.25-5.49,12.25-12.25s-5.48-12.25-12.25-12.25h-40.76Z" />
                        </g>
                    </svg>
                </div>
                <div class="goal-info">
                    <p class="next-goal" id="next-goal"></p>
                </div>
            </div>
            <div class="progress-container" id="progress-container">
                <div class="progress-wrapper" id="progress-wrapper">
                    {% for goal in goals %}
                        <div class="goal-progress" id="goal-progress-{{ goal.id }}">
                            <div class="progress-bar">
                                <div class="progress-bar-fill" id="progress-bar-fill"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    {{ goals|json_script:"goals-data" }}
    {{ current_amount|json_script:"current-amount-data" }}
    {{ slice_goals|json_script:"slice-goals-data" }}
    <script src="{% static 'subathonTimer/js/linkedGoals.js' %}" type="module"></script>
</html>
