{% load static %}
<!doctype html>
<html>

<head>
    <title>Subathon Timer</title>
</head>

<body>
    <div class="time-container">
        <img src="{% static 'subathonTimer/images/Total_sub.png' %}" alt="Image" />
        <p class="time number" id="subs">{{ total_subs }}</p>
    </div>
</body>

</html>

<link rel="stylesheet" type="text/css" href="{% static 'subathonTimer/css/globalTimer.css' %}" />
<script src="{% static 'subathonTimer/js/totalSub.js' %}" data-total_subs="{{ total_subs }}"></script>
