@font-face {
  font-family: "Sauce Barbe";
  src: url("/static/general/fonts/Sauce_Barbe.otf") format("truetype");
}
:root {
  background-color: grey;
  --gift-color-1: #570244;
  --gift-color-2: #61013a;

  /* --gift-validate-color-1: #6f0145; */
  /* --gift-validate-color-2: #7d0150; */

  /* --gift-validate-color-1: #dd0f8e; */
  /* --gift-validate-color-1: #dd0f8e; */
  --gift-validate-color-1: white;
  --gift-validate-color-2: white;
  /* #db1e92 */
  font-family: "Sauce Barbe";
}
.header {
  display: flex;
  padding: 10px 20px 10px 10px;
  align-items: center;
  width: 450px;
}

.background-overlay {
  width: 500px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 15px;
  padding: 0px 10px;
}

.campaign-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-end;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.campaign-info > * {
  margin: 2px 0;
}
.progress-wrapper {
  display: flex;
  width: 50%;
}

.end {
  flex: 1;
}

.goal-progress {
  display: flex;
  width: 100%;
}

.goal-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  top: 20px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-radius: 3px;
  /* background: linear-gradient(135deg, #750046 0%, #97005a 100%); */
  background: linear-gradient(135deg, #d5b9c4 0%, #f0e1e6 100%);
  opacity: 60%;
}

.validate-marker {
  background: linear-gradient(45deg, #570031, #2e0025);
  opacity: 100%;
}

.goal-icon {
  width: 80%;
  height: 80%;
  transform: rotate(-45deg);
}
.progress-container {
  width: 1000px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #d5b9c4;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background: linear-gradient(to right, #2e0025, #570031);
  border-radius: 20px;
  width: 0;
  transition: width 0.5s ease-in-out;
  transition-delay: 0s;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
