.goal-marker {
  position: absolute;
  top: -20%;
  width: 5px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    #1a0324 0%,
    #750046 20%,
    #97005a 50%,
    #750046 80%,
    #1a0324 100%
  );
}
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #d5b9c4;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background: linear-gradient(to right, #2e0025, #570031);
  border-radius: 20px;
  width: 0;
  transition: width 0.5s ease-in-out;
}
