{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Admin Bingo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/css/admin.css' %}">
    <link rel='icon' href="{% static 'bingo/images/cacatchu.png' %}" />
</head>

<body>

    <div>
        <h1>Active Bingo</h1>
        <div class="active-bingo">
            <h2>{{ active_bingo.name }}</h2>
            <p>{{ active_bingo.description }}</p>

        </div>
        <div>
            <h1>List Bingos</h1>

            <div class="item">
                <p class="bold">Name</p>
                <p class="bold">Description</p>
                <p class="bold">Items</p>
                <p class="bold">Activate</p>
            </div>

            {% for bingo in bingos %}
            <div class="item {% if forloop.counter|divisibleby:2 %}alternate{% endif %}">
                <p class="bold">{{ bingo.name }}</p>
                <p>{{ bingo.description }}</p>
                <a href="{% url 'admin_arg' bingo.id %}">Items</a>
                <a href="{% url 'activate_bingo' bingo.id %}">Activate</a>
            </div>
            {% endfor %}
        </div>


</body>

</html>
