{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Ephemeriia</title>
    <link rel='icon' href="{% static 'bingo/images/cacatchu.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/css/bingo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/css/user_bingo.css' %}" />
</head>

<body>
        <div class="bingo-show">
            {% include "./bingo_template.html" %}
        </div>
</body>

</html>

<script src="{% static 'bingo/js/bingo.js' %}" data-show_bingo="{{ show_bingo }}">

</script>
