{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Ephemeriia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/css/bingo.css' %}" />
</head>

<body>
        <div class="bingo-container">
    <div class="bingo-card" id="bingoCard">
        {% for item in bingo_items %}
        <div class="bingo-cell {% if item.is_checked %}bingo-cell-checked{% endif %}">{{ item }}</div>
        {% endfor %}
    </div>
            <img src="/static/bingo/images/cacatchu.png" alt="Transparent Image" class="overlay-image" />
    </div>
</body>

</html>

<script src="{% static 'bingo/js/bingo.js' %}" data-bingo_lenght="{{ bingo_lenght|safe }}">

</script>
