
<html>
<head>
    <title>Manage Time</title>
</head>
<body>
    <h1>Manage Time</h1>
    <form method="POST" action="add_time">
        {% csrf_token %}
        <label for="time">Time to add (in seconds):</label>
        <p style="font-style: italic;">Negative number for substract time</p>
        <input type="number" id="time" name="time" required>
        <button type="submit">Add</button>
    </form>

    {% if status == 200 %}
    <p style="color: green;">{{ message }} </p>
    {% else %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    
</body>
</html>