{% load static %}
<html>

<head>
    <title>Subathon Timer</title>
</head>

<body>
    <h1>Subathon Timer</h1>
    {% if started %}
    <p>Time remaining: <span id="time"></span></p>
    {% else %}
    <form method="POST" action="start_timer">
        {% csrf_token %}
        <button type="submit">Start</button>
    </form>

    {% endif %}

</body>

</html>

<style>
    /* body {
        font-family: Arial, sans-serif;
        color: #ffffff;
    } */
</style>

<script src="{% static 'subathonTimer/update_timer.js' %}" defer data-time_left="{{ time }}">
</script>