{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Reward</title>
        <link href="{% static 'reward/css/index.css' %}"
              rel="stylesheet"
              type="text/css" />
    </head>
    <body>
        <div class="reward">
            <img id="pedro"
                 class="pedro"
                 src="{% static 'reward/images/cacatchu_pedro.gif' %}"
                 alt="" />
        </div>
    </body>
</html>
<script>window.PEDRO_AUDIO_URL = "{% static 'reward/audio/pedro.wav' %}";</script>
<script src="{% static 'reward/js/index.js' %}"></script>
