{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Subathon Timer</title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'subathonTimer/css/tipProgress.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'goal/css/campaignProgress.css' %}" />
    </head>
    <body>
        <p id='test'></p>
        <div class="progress-container" id="progress-container">
            <div class="progress-wrapper" id="progress-wrapper">
                {% for goal in campaign.goals %}
                    <div class="goal-progress" id="goal-progress-{{ goal.id }}">
                        <div class="progress-bar">
                            <div class="progress-bar-fill" id="progress-bar-fill"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </body>
    </html>
    {{ campaign|json_script:"campaign-data" }}
    <script src="{% static 'goal/js/campaignProgress.js' %}" type="module"></script>
