.active-calendar {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    /* Adjust the number of columns as needed */
    padding: 10px;
    border-bottom: 1px solid #444;
    /* Darker border */
    gap: 10px;
    /* Adjust the gap as needed */
    justify-items: start;
}

.item p {
    margin: 0;
    text-align: left;
    align-self: center;
}

.item.alternate {
    background-color: rgba(255, 255, 255, 0.05);
    /* Subtle alternate background */
}

.active {
    color: #4caf50;
    /* Brighter green for active state */
}

.inactive {
    color: #f44336;
    /* Brighter red for inactive state */
}

/* Add hover effect for items */
.item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Slightly lighter on hover */
}

.bold {
    font-weight: bold;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
