body {
  background-color: #121212;
  /* Darker background */
  color: #e0e0e0;
  /* Lighter text color for better contrast */
}

.div-clickable {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a.btn,
button {
  background-color: #5a4bc4;
  border: none;
  color: #e0e0e0;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

a.btn:hover,
button:hover {
  background-color: #4938bf;
  /* Darker green on hover */
}

a.btn:disabled,
button:disabled {
  background-color: #18143c;
  cursor: not-allowed;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.loading {
  opacity: 0.1;
}
