{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'bingo/images/cacatchu.png' %}" />
        <link rel="stylesheet" href="{% static 'wheel/css/wheel.css' %}" />
        <title>Spin the wheel !!!</title>
    </head>
    <body>
        <canvas id="wheel"></canvas>
        <button id="spinButton">Spin!</button>
    </body>
</html>
<script src="{% static 'wheel/js/wheel.js' %}"></script>
</script>
