@font-face {
    font-family: "Century";
    src: url("/static/subathonTimer/fonts/century.ttf") format("truetype");
}

.time-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.number {
    font-family: "Century";
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

.time {
    position: absolute;
    left: 192px;
    top: 20px;

    width: 235px;
    height: 59px;

    font-size: 45px;
    text-align: center;
    /* border: 2px solid black; */
    text-shadow: 3px 3px 5px #000000;
}
