:root {
  --primary-color: #5b00d3;
}

@font-face {
  font-family: "Century";
  src: url("/static/subathonTimer/fonts/century.ttf") format("truetype");
}

@font-face {
  font-family: "Golane";
  src: url("/static/general/fonts/Golane-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Kinder";
  src: url("/static/general/fonts/Kinder Cold.otf") format("opentype");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.time-container {
  display: flex;
  justify-content: left;
  width: 100%;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "Kinder";
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 5px #000000;
  margin-right: 20px;
}

span.time {
  font-size: 70px;
  text-align: center;
  /* border: 2px solid black; */
  text-shadow: 3px 3px 5px #000000;
}

body {
  /* background-color: #5b00d3; */
}

.tip-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42%;
}

.image-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: var(--display-nb-tip-goals);
}

.image-column-sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: var(--display-nb-sub-goals);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.validate {
  display: none;
  position: absolute;
  left: -2.1%;
  bottom: -21%;
}

.validated {
  display: block;
}

.checkbox {
  position: absolute;
  top: 58.6%;
  left: 11.2%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 13px;
}

.goal-name {
  font-family: "Golane";
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 5px #000000;
  position: absolute;
  left: 51%;
  top: 39%;
  transform: translate(-50%, -50%);
  width: 528px;
  text-align: center;
}

.goal-amount {
  font-family: "Golane";
  color: white;
  font-size: 25px;
  text-shadow: 3px 3px 5px #000000;
  position: absolute;
  left: 92%;
  top: 43%;
  transform: translate(-50%, -50%);
  width: 110px;
  text-align: center;
}

.hidden {
  display: none;
}

.butterfly_animation {
  display: none;
  position: absolute;
  top: -4.66667% !important;
  left: -1.00418% !important;

  object-fit: cover;
  object-position: top;
  width: 100%;
}

.moving-image {
  animation: moveVertical 2s ease-in;
}

.number {
  font-family: "Century";
  color: white;
  text-shadow: 3px 3px 5px #000000;
}

@keyframes moveVertical {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.tip_image_to_move,
.sub_image_to_move {
  position: relative;
  display: inline-block;
  height: 150px;
}
