@font-face {
    font-family: "Century";
    src: url("/static/subathonTimer/fonts/century.ttf") format("truetype");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

span.time {
    font-size: 70px;
    text-align: center;
    /* border: 2px solid black; */
    text-shadow: 3px 3px 5px #000000;
}

body {
    /* background-color: #5b00d3; */
}

.tip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
}

.image-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 450px;
}

.image-column-sub {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 450px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.square {
    box-sizing: border-box;
    position: absolute;
    top: 57px;
    left: 75px;
    width: 60px;
    height: 60px;
    border: 5px solid #5b00d3;
}

.moving-image {
    animation: moveVertical 2s ease-in;
}

.number {
    font-family: "Century";
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

@keyframes moveVertical {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.tip_image_to_move,
.sub_image_to_move {
    position: relative;
    display: inline-block;
    height: 150px;
}
