li {
    list-style: none;
    position: relative;
    padding-left: 18px;
}

li::before {
    content: "";

    position: absolute;
    left: 0;
    top: 30%;

    width: 12px;
    height: 12px;

    background: url("/static/bingo/images/cacatchu.png") no-repeat center center / contain;
}

.participants {
    display: flex;
}

.participants div {
    margin: 0 15px;
}
